/* begin main */
html							{	background-image:url('../Images');	}
body 							{   background-image:url(); background-repeat: no-repeat; background-position: center; background-attachment: fixed; }
body img						{		}

.ulnotify                       {   float:left; Color:gold; border-color:goldenrod; background-color:grey; list-style-type: none; }
.ulnobullet                     {   list-style-type: none;  }

#signup_content                 {   width:100%; }
.signincss                      {   float: left; margin: 0; border: none; padding: 10px; background: #fff; border: 1px solid #ddd; }
.signupcss                      {   float: left; margin: 0; border: none; padding: 10px; background: #fff; border: 1px solid #ddd;  }


#signup_leftside_content        {   width:30%; float:left; Margin:0px 0px 0px 0px; }
.signup_labelcss                {   Margin:0px 0px 3px 0px;}



#signup_leftside2_content       {   width:70%; float:left;  }

#signin_leftside_content        {   width:20%; float:left; }
#signin_leftside2_content       {   width:20%; float:left; }

.signup_titlecss                {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; width:100%;   }
/* begin containers */


#wrapper 						{  	 width:960px; margin:0px auto; background-image:url(); clear:both; position:relative;}

/* end containers */

/* begin top */
		
#top	 						{  	background-color:black; width:100%; overflow:hidden; border-bottom:10px #666666 groove; padding:30px 0 0 0;}
#top img						{	width:100%; overflow:hidden; 	}

#top ul li a					{	padding:5px 10px; text-decoration:none; margin:0px 0px 0px 0px; border:groove;  }
#top a:link		                {	Color:gold; border-color:goldenrod; background-color:grey;	}
#top_right                      {   float:right; margin:-30px 40px 0px 0px;   }          

/* end top */


/* begin navigator */

#topnav 						{ 	width:100%; background-image:url('../Images/index.jpg'); clear:both; top:1px; z-index:1; text-align:center; padding:20px 0 10px 0; border-bottom:10px #666666 groove; }						  
#topnav ul 						{	background-image:url(); }
						
#topnav ul li					{	display:inline; text-align:center;  	}
#topnav ul li a					{	padding:10px 50px; text-decoration:none; margin:0 20px 0 20px; border:medium #000000 double; }

#topnav a:link		            {	Color:gold; border-color:goldenrod; background-color:grey;	}
#topnav a:visited				{	Color:white; border-color:goldenrod; background-color:black;	}
#topnav a:active		        {	Color:white; border-color:goldenrod; background-color:black;	}
#topnav a:hover					{	Color:gold; border-color:goldenrod; background-color:grey;	}
#topnav a:focus					{	Color:white; border-color:goldenrod; background-color:black;	}

/* end navigator */


/* begin banner  */

#banner_cph						{   width:960px;		}
#banner img						{
}

/* end banner  */



#subbanner 						{ 	width:100%; background-image:url('../Images/grey-white.jpg'); padding:15px 0; overflow:hidden;  }
#subbanner h3					{	color:black; font-size:16px; font-weight:bold; text-align:center; line-height:100%; text-shadow:initial;	}

/*  begin content */



/*  start default */

#default_content                {   background-image:url('../Images/ccbg1.jpg');    }
#default_searchbox1             {   width:100%;     }
#default_searchbox_label        {      }
.default_searchbox_label        {   width:100%; font-size:30px; text-align:center; }
.default_searchbox_textbox      {   width:70%; height:30px; margin-left: 0px; } 
.default_searchbox_button       {   float:left; width:20%; height:30px;  }            


.default_available_label_text   {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; width:100%;   }


#default_data_list1             {       }
.ddlic                          {   width:100%;  }
.ddlic                          {   width:228px;   }


#default_image_content img      {   width:960px; height:300px;    }


.default_item_panel1            {      }            
#default_item_panel1            {      }
#banner_cph_itempanel div       {   width:240px; height:250px; float:left; text-align:center; background-image:url('../Images/ccbg1.jpg');  }

.dddiln                         {   float:left; text-align:center; margin-right:20px; }

.dddilc                         {   float:left; text-align:center;   }

.dddib                          {   float:left; width:220px; height:220px;   }



/*  stop default page*/




/*  start about page*/


.aboutcontenttitlecss           {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; width:100%;   }
.aboutparcontcss                {   font-size:20px; font-family:Constantia; font-style:italic; width:100%;   }



/*  start about page*/






/*  start item page */

#itempagecontent                {   width:960px;    }
#itempgdiv5                     {   float:right; width:510px;    }
#itempgdiv6                     {   float:right; width:510px;    }
#itempgdiv10                    {   float:right; width:510px;    }

.itempginfolabelcss             {   float:right; width:510px; text-align:center;    }
.itempgcostcss                  {   float:right; width:510px;     }
.itempgcostresultcss            {   float:right; width:510px; text-align:center;    }
.itempgindatacss                {   float:right; width:510px;     }


.itempgddlcss                   {   margin-left: 417px;  }
.itempgaddbuttoncss             {   margin-left: 353px;  }
.itempglabelcss                 {   float:right; width:510px; text-align:center;    }
.itempgpiccss                   {   float:left; width:430px; height:430px; }

/*  stop item page */




/*  start contact */


#contactcontent                 {   }

#contactleftside                {   float:left; width:350px; height:450px; background-image:url('../Images/ccbg1.jpg');  }
#contactleftsidetable           {   margin-top:70px;    }

#contactRFVnamelink             {   margin-left:54px;   }
#contactnametextboxlink         {   margin-left:100px;   }

#contactemailREVlink            {   margin-left:54px;   }
#contactemailtextboxlink        {   margin-left:50px;   }

#contactsubjectRFVlink          {   margin-left:54px;   }
#contactsubjecttextboxlink      {   margin-left:90px;   }

#contactmessageRFVlink          {   margin-left:54px;   }
#contactmessagetextboxlink      {   margin-left:81px;   }



#contactRFVnamelink             {   white-space:pre-line;  }



#contactrightside               {   float:right;    }
#map                            {   width:610px; height:450px; float:right;    }
#staticmap                      {   width:610px; height:450px; float:right;    }



#contactbelowcontent            {   width:960px; }
.contactbelowcontentlabel       {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; width:100%;   }


#contactaddressdivmain          {   float:left; width:45%;  }
.contactaddfltitlecss           {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; }
.contactaddflcss                {   text-align:center; font-family:Constantia; font-style:italic; }


#contacttelephonedivmain        {   float:right; width:45%;  }
.contacttelefrtitlecss          {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; }
.contacttelefrcss               {   text-align:center; font-family:Constantia; font-style:italic; }


/*  stop contact content*/





/*  start database_item_table content*/

#dbitemtablecontent              {  display:inline; }      

#dbitemtablescontentleftside     {   float:left; width:320px;  }
#dbitemtablecontent              {   width:960px;   }
#dbitemtablescontentrightside    {   float:left; width:320px;     }


/*  stop database_merchandise_tabel content*/




/*  start database_item_versions content*/

#dbitemtversionscontentleftside   {   float:left; width:320px;  }
#dbitemversionscontent            {   float:left; width:320px;    }
#dbitemversionscontentrightside   {      }

/*  stop database_item_versions content*/



/*  start admin_database content*/

.admin_gv_mta_class             {   width:100%; }
.admin_label_class              {   font-size:30px; text-align:center; font-family:Constantia; font-style:italic; width:100%; }

/* BackColor="PaleGoldenrod" ForeColor="DarkSlateBlue" HorizontalAlign="Center"


BackColor="DarkSlateBlue" ForeColor="GhostWhite"
BackColor="#FAFAE7"
BackColor="#DAC09E"
BackColor="#E1DB9C"
BackColor="#C2A47B"
BackColor="#990000" Font-Bold="True" ForeColor="White"
    #FFCC66

*/


.gv_fs_item_table_css           {   background-color:tan; font:bold;    } 
.gv_hs_item_table_css           {   background-color:tan;   }
.gv_ps_item_table_css           {   background-color:PaleGoldenrod; }



.gv_fs_item_versions_css           {   background-color:#990000; font:bold;  } 
.gv_hs_item_versions_css           {   background-color:#FFCC66; color:red;  }
.gv_ps_item_versions_css           {   background-color:#FFCC66; }
.gv_rs_item_versions_css           {   background-color:#FFFBD6; }
.gv_srs_item_versions_css          {   background-color:#FFCC66; font:bold; }
.gv_sacs_item_versions_css         {   background-color:#FDF5AC; }
.gv_sahs_item_versions_css         {   background-color:#4D0000; }
.gv_sdcs_item_versions_css         {   background-color:#FCF6C0; }
.gv_sdhs_item_versions_css         {   background-color:#820000; }

#upload_item_data_page_image    {     }


/*  stop admin_database content*/

/* end content */


/*  start transcription content */
.pushcart_table                 {   text-align: center; border: 33px groove brown; margin-bottom: 7px; width: 100%; padding: 10px;    }
.pushcart_table input           {   width: 220px; height: 220px;  }
.pushcart_table h4              {   padding: 0;  margin: 0; }
.pushcart_table tr td select    {   width: 100%;   }



/* stop transcription content */


/* begin footer */

#footer 						{  	background-image:url('../Images/BGWrap.png'); clear:both	 }


#footermiddleside               {   width:330px; float:left;    }
#footermiddleside p             {   text-align:left;     }

#footerrightside                {   float:right; margin:0 10px 0 0;  color:#FFFFFF; margin:5px 5px 10px 0; width:230px;   }
#footerrightside li             {   display:inline; } 
#footerrightside img            {   display:inline; float:right; width:34px; height:34px; margin:0 10px 0 0px; text-align:left; }


/*.facebookpic                    {   display:inline; float:right; width:34px; height:34px; margin:0 10px 0 0px; text-align:left; background-image:url('../Images/facebook-icon.png') }
.twitterpic                     {   display:inline; float:right; width:34px; height:34px; margin:0 10px 0 0px; text-align:left; background-image:url('../Images/twitter-icon.png') }
.blogpic                        {   display:inline; float:right; width:34px; height:34px; margin:0 10px 0 0px; text-align:left; background-image:url('../Images/blog.png') }    
*/
    
#facebooklink 				    {	float:right; margin:0 10px 0 0; width:34px; height:34px; margin:0 10px 0 0px; color:#FFFFFF; margin:5px 5px 10px 0; text-align:right;} 	
#twitterlink 				    {	float:right; margin:0 10px 0 0; width:34px; height:34px; margin:0 10px 0 0px; color:#FFFFFF; margin:5px 5px 10px 0; text-align:right;} 			
#bloggerlink 				    {	float:right; margin:0 10px 0 0; width:34px; height:34px; margin:0 10px 0 0px; color:#FFFFFF; margin:5px 5px 10px 0; text-align:right;} 			

#footerleftside	                {   width:230px; float:left;  }	
#footerleftside li              {   }
/* end footer */







/* end main */